ul{
    list-style: none;;
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    align-items: center;
    height:50px;
    line-height: 50px;
    padding:0;
    margin:0;
    background-color: #fff;
}
ul li{
    flex-grow: 1;
    text-align: center;
}
.active{
    color:red;
}

.info{
    border-bottom:1px solid #000;
}
.name{
    font-size:20px;
    color:#000;
}
.address{
    font-size:14px;
    color:#666;
}
